.gameBtn {
    transition: all ease-in-out 140ms;
    background-color: white;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.gameBtn:hover {
    background-color: whitesmoke;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.gameBtn:active {
    background-color: lightgray;
}

.btn {
    transition: all ease-in-out 240ms;
    width: 200px;
}
.btn:hover {
    color: black !important;
    background-color: gray !important;
}

.btn-primary {
    color: white !important;
    background-color: black !important;
    border: 2px solid black !important;
}

.btn-outline-primary {
    color: black !important;
    background-color: transparent !important;
    border: 2px solid black !important;
}